# Dependencias de Node
/node_modules

# Archivos de build del frontend (Vite)
/dist

# Archivos de entorno
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de compilación de .NET
**/[Bb]in/
**/[Oo]bj/

# Archivos de usuario de Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de JetBrains Rider
.idea/
*.sln.iml

# Archivos de VS Code
.vscode/

# Archivos generados por CSS Modules
src/**/*.css.json

# Ignorar carpetas de módulos legacy o de referencia
/legacy-module-clients/